<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partial/head' , {pageTitle: title }); %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"><%- include ('./partial/sidebar')%></div>
        <div class="col-sm-10">
          <h><%= title %></h>
          <form method="POST">
            <div class="form-group">
              <label for="name">Genre: </label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-contorl"
                placeholder="Fantasy, Poetry, etc."
                required
                value="<%= (locals.genre) ? genre.name : ''%>"
              />
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
          <% if(locals.errors){%>
          <ul>
            <% errors.forEach(function(error){%>
            <li><%= error.msg%></li>
            <%}) %>
          </ul>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
